$primary-color: #811f5d;
$secondary-color: #fff;
$first-size: 1.5rem;
$second-size: 1.2rem;
$third-size: 1rem;

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: $first-size calc($first-size * 4);
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      color: #444;
      margin-bottom: 1rem;
      flex: 2;
      font-size: calc($first-size * 0.7);
    }
    .describe {
      text-align: justify;
      flex: 3;
      color: #444;
      font-size: calc($third-size * 0.8);
    }
  }
  .bottom {
    display: flex;
    gap: 1rem;
    margin: 3rem;
  }
}
